<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<div th:replace="layout/temp :: header"/>

<body>

	<div class="container">

		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveNewAccount}? 'active'">
						<a href="#tab-1" data-toggle="tab"><span style="color: red;">Créer un Compte</span></a>
					</li>
					<li th:classappend="${classActiveLogin}? 'active'">
						<a href="#tab-2" data-toggle="tab"><span style="color: red;">Se Connecter</span></a>
					</li>
					<li th:classappend="${classActiveForgetPassword}? 'active'">
						<a href="#tab-3" data-toggle="tab"><span style="color: red;">Mot de Passe oublié</span></a>
					</li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- create new user pane -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveNewAccount}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="margin-top: 20px;">
									<div class="alert alert-info" th:if="${emailSent}">Un mail a été envoyé à
										l'addresse que vous avez indiquer. Connectez-vous pour valider votre
										addresse email et mettre à jour vos informations.</div>
									<form th:action="@{/newUser}" method="post" style="display: inline">
										<div class="form-group">
											<label for="newUsername">* Non d'utilisateur: </label>
											<span style="color: red;" th:if="${usernameExists}">Ce nom d'utilisateur existe déjà. Choisissez un autre.</span>
											<input required="required" type="text" class="form-control" id="newUsername" name="username" />
											<p style="color: #828282">Entrez votre nom d'utilisateur ici.</p>
										</div>

										<div class="form-group">
											<label for="email">* Addresse Email: </label>
											<span class="alert alert-danger" th:if="${emailExists}">Cet email existe déjà. Choisissez un autre.</span>
											<input required="required" type="email" class="form-control" id="email" name="email" />
											<p style="color: #828282">L'email ne sera pas rendu publique et utilisé pour
												renitialisé votre mot de passe et pour vos factures.</p>
										</div>

										<!--<button type="submit" class="btn btn-primary">Create
											new account</button>-->
										<button type="submit" class="btn btn-primary"><span class="fa fa-user"></span>Créer compte</button>
									</form>
									<form action="/connect/google" method="POST" style="display: inline">
										<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
										<input type="hidden" name="scope" value="profile email"/>
										<button type="submit" class="btn btn-danger">Google <span class="fa fa-google-plus"></span></button>
									</form>

									<form action="/connect/facebook" method="POST" style="display: inline">
										<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
										<input type="hidden" name="scope" value="public_profile,email"/>
										<button type="submit" class="btn btn-primary">Facebook <span class="fa fa-facebook"></span></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- log in -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveLogin}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="margin-top: 20px;">
									<div th:if="${param.error != null}" class="alert alert-danger">Nom d'utilisateur ou Mot de passe incorrect.</div>

									<form th:action="@{/login}" method="post" style="display: inline">
										<div class="form-group">
											<label for="username">* Nom d'utilisateur: </label>
											<input required="required" type="text" class="form-control" id="username" name="username" />
											<p style="color: #828282">Entrer votre nom d'utilisateur ici.</p>
										</div>

										<div class="form-group">
											<label for="password">* Mot de passe: </label>
											<input required="required" type="password" class="form-control" id="password" name="password" />
											<p style="color: #828282">Entrer votre mot de passe.</p>
										</div>

										<!--<button type="submit" class="btn btn-primary">Log in</button>-->
										<button type="submit" class="btn btn-primary"><span class="fa fa-user"></span>Connecter</button>
									</form>
									<form action="/connect/google" method="POST" style="display: inline">
										<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
										<input type="hidden" name="scope" value="profile email"/>
										<button type="submit" class="btn btn-danger">Google <span class="fa fa-google-plus"></span></button>
									</form>

									<form action="/connect/facebook" method="POST" style="display: inline">
										<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
										<input type="hidden" name="scope" value="public_profile,email"/>
										<button type="submit" class="btn btn-primary">Facebook <span class="fa fa-facebook"></span></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- forget password -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveForgetPassword}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="margin-top: 20px;">
									<div th:if="${emailNotExist}" class="alert alert-danger">Cet email n'existe pas.</div>
									<div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email envoyé.</div>

									<form th:action="@{/forgetPassword}" method="post">
										<div class="form-group">
											<label for="recoverEmail">* Votre Email: </label>
											<input required="required" type="email" class="form-control" id="recoverEmail" name="email" />
											<p style="color: #828282">Entrer votre email d'enregistrement ici.</p>
										</div>

										<button type="submit" class="btn btn-primary">Envoyer</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
	<div th:replace="layout/temp :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
