<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<head th:replace="common/header :: common-header" />-->

<link rel="stylesheet" type="text/css" href="/css/common/boot.min.css" th:href="@{/css/common/boot.min.css}" />
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
      th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />

<body>
<!--<div th:replace="common/header :: navbar" />-->

<!--navbar-->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:src="@{/}">Accueil</a>
        </div>
        <div id="navbar">
            <!--<ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a th:href="@{/bookshelf}" class="dropdown-toggle"
                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">BOOKS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/bookshelf}">Browse the bookshelf</a></li>
                        <li><a href="#">Store hours &#38; Directions</a></li>
                        <li><a href="#">FAQ</a></li>

                    </ul></li>
                &lt;!&ndash;<form class="navbar-form">
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control"
                               placeholder="Book title" />
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>&ndash;&gt;
            </ul>-->
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">SHOPPING CART</a></li>-->
                <!--<li><a sec:authorize="isAnonymous()" th:href="@{/login}">MY ACCOUNT</a></li>-->
                <li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">Mon compte</a></li>
                <li><a class="btn btn-danger" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>


<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h3 class="section-headline">
                    <strong>Utilisateur</strong>
                    <p><img th:src="${user.image}" class="img-circle" alt="avatar" width="100" height="100"/></p>
                    <span th:text="${#strings.toUpperCase(user.username)}"></span>
                </h3>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/img/logo-cafebawley.png" th:src="@{/img/logo-cafebawley.png}" class="img-responsive" />
        </div>
    </div>
    <!--<hr style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />-->
    <!--<img class="img-responsive" src="/image/wood.png"
         style="margin-top: -75px;" />-->

    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveEdit}? 'active'"><a
                        href="#tab-1" data-toggle="tab"><span style="color: red;">Editer</span></a></li>
                <li th:classappend="${classActiveOrders}? 'active'"><a
                        href="#tab-2" data-toggle="tab"><span style="color: red;">Commandes</span></a></li>
                <li th:classappend="${classActiveBilling}? 'active'"><a
                        href="#tab-3" data-toggle="tab"><span style="color: red;">Factures</span></a></li>
                <li th:classappend="${classActiveShipping}? 'active'"><a
                        href="#tab-4" data-toggle="tab"><span style="color: red;">Livraison</span></a></li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">

                <!-- Edit user information -->
                <div class="tab-pane fade" id="tab-1"
                     th:classappend="${classActiveEdit}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}" />

                                    <div class="bg-info" th:if="${updateUserInfo}">Informations utilisateurs mise à jour.</div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName">Prénom</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="lastName">Nom</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">Nom d'utilisateur</label> '
                                        <input type="text" class="form-control" id="userName" name="username" th:value="${user.username}" />
                                    </div>
                                    <div class="form-group">
                                        <label for="currentPassword">Mot de passe courant</label> ' <input
                                            type="text" class="form-control" id="currentPassword"
                                            name="currentPassword" th:value="${currentPassword}" />
                                    </div>
                                    <p style="color: #828282">Entrer votre mot de passe courant.</p>

                                    <div class="form-group">
                                        <label for="email">* Addresse Email</label> ' <input
                                            type="text" class="form-control" id="email" name="email" th:value="${user.email}" />
                                    </div>
                                    <p style="color: #828282">L'email ne sera pas rendu publique et utilisé pour
                                        renitialisé votre mot de passe et pour vos factures.</p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Mot de passe</label> ' <input
                                            type="password" class="form-control" id="txtNewPassword"
                                            name="newPassword" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirmé Mot de passe</label> ' <input
                                            type="password" class="form-control" id="txtConfirmPassword" />
                                    </div>
                                    <p style="color: #828282">Pour changer le mot de passe actuel, entrer le même mot de passe dans les deux champs.</p>

                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order Information -->
                <div class="tab-pane fade" id="tab-2"
                     th:classappend="${classActiveOrder}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;"></div>
                        </div>
                    </div>
                </div>

                <!-- Billing Information -->
                <div class="tab-pane fade" id="tab-3"
                     th:classappend="${classActiveBilling}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{/listOfCreditCards}"
                                            th:style="${listOfCreditCards}? 'color:red'">Liste des cartes de credit</a></li>
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{/addNewCreditCard}"
                                            th:style="${addNewCreditCard}? 'color:red'">Ajouter(Modifier) carte de credit</a></li>
                                </ol>

                                <div th:if="${listOfCreditCards}">
                                    <form th:action="@{/setDefaultPayment}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Défaut</th>
                                                <th>Carte de credit</th>
                                                <th>Opérations</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="userPayment : ${userPaymentList}">
                                                <td><input type="radio" name="defaultUserPaymentId"
                                                           th:value="${userPayment.id}"
                                                           th:checked="${userPayment.defaultPayment}" /></td>
                                                <td th:text="${userPayment.cardName}"></td>
                                                <td><a
                                                        th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
                                                        class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
                                                        th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
                                                        class="fa fa-times"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                                    </form>
                                </div>

                                <div th:if="${addNewCreditCard}">
                                    <form th:action="@{addNewCreditCard}" method="post">
                                        <div class="bg-info" th:if="${updateUserPaymentInfo}">Informations utilisateur mise à jour.</div>

                                        <input hidden="hidden" name="id" th:value="${userPayment.id}" />

                                        <div class="form-group">
                                            <h5>* Donner un nom à la carte:</h5>
                                            <input type="text" class="form-control" id="cardName"
                                                   placeholder="Nom de la carte" th:name="cardName"
                                                   required="required" th:value="${userPayment.cardName}" />
                                        </div>

                                        <!-- Billing Address -->
                                        <hr />
                                        <div class="form-group">
                                            <h4>Addresse de facturation</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingName">* Nom</label>
                                            <input type="text" class="form-control" id="billingName"
                                                   placeholder="Nom du destinataire" th:name="userBillingName" required="required"
                                                   th:value="${userBilling.userBillingName}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="billingAddress">* Adresse de la rue</label>
                                            <input type="text" class="form-control" id="billingAddress"
                                                placeholder="adresse rue 1" th:name="userBillingStreet1" required="required"
                                                th:value="${userBilling.userBillingStreet1}" />
                                            <input type="text" class="form-control" id="billingAddress" placeholder="adresse rue 2" th:name="userBillingStreet2"
                                                th:value="${userBilling.userBillingStreet2}" />
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingCity">* Ville</label>
                                                    <input type="text" class="form-control" id="billingCity"
                                                           placeholder="Ville de facturation" th:name="userBillingCity" required="required"
                                                           th:value="${userBilling.userBillingCity}" />
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingState">* Pays</label>
                                                    <select id="billingState" class="form-control" th:name="userBillingState"
                                                        th:value="${userBilling.userBillingState}" required="required">
                                                    <option value="" disabled="disabled">Selectionnez une option</option>
                                                    <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${userBilling.userBillingState}==${state})"></option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingZipcode">* Code postal</label>
                                                    <input type="text" class="form-control" id="billingZipcode" placeholder="Code postal de facturation"
                                                        th:name="userBillingZipcode" required="required" th:value="${userBilling.userBillingZipcode}" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Credit Card Information -->
                                        <hr />
                                        <div class="form-group">
                                            <h4>Information Carte de Credit</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <img src="/img/creditcard.png" th:src="@{/img/creditcard.png}" class="img-responsive" /><br />
                                                <div class="form-group">
                                                    <label for="cardType">* Selectionnez un Type de carte:</label>
                                                    <select class="form-control" id="cardType" th:name="type" th:value="${userPayment.type}">
                                                    <option value="visa">Visa</option>
                                                    <option value="mastercard">Mastercard</option>
                                                    <option value="discover">Discover</option>
                                                    <option value="amex">American Express</option>
                                                </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardHolder">* Nom du titulaire</label> <input
                                                        type="text" class="form-control" id="cardHolder"
                                                        required="required" placeHolder="Card Holder Name"
                                                        th:name="holderName" th:value="${userPayment.holderName}" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">* Numéro Carte:</label>
                                                    <div class="input-group">
                                                        <input type="tel" class="form-control" id="cardNumber"
                                                               required="required" placeHolder="Numéro de carte valide"
                                                               th:name="cardNumber"
                                                               th:value="${userPayment.cardNumber}" /> <span
                                                            class="input-group-addon"><i
                                                            class="fa fa-credit-card" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group">
                                                    <label>* Date d'expiration</label>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <select class="form-control" name="expiryMonth"
                                                                    required="required"
                                                                    th:value="${userPayment.expiryMonth}">
                                                                <option disabled="disabled">-- Month --</option>
                                                                <option value="01">Jan (01)</option>
                                                                <option value="02">Feb (02)</option>
                                                                <option value="03">Mar (03)</option>
                                                                <option value="04">Apr (04)</option>
                                                                <option value="05">May (05)</option>
                                                                <option value="06">June (06)</option>
                                                                <option value="07">July (07)</option>
                                                                <option value="08">Aug (08)</option>
                                                                <option value="09">Sep (09)</option>
                                                                <option value="10">Oct (10)</option>
                                                                <option value="11">Nov (11)</option>
                                                                <option value="12">Dec (12)</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <select class="form-control" name="expiryYear"
                                                                    th:value="${userPayment.expiryYear}">
                                                                <option disabled="disabled">-- Année --</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2018">2018</option>
                                                                <option value="19">2019</option>
                                                                <option value="20">2020</option>
                                                                <option value="21">2021</option>
                                                                <option value="22">2022</option>
                                                                <option value="23">2023</option>
                                                                <option value="23">2024</option>
                                                                <option value="23">2025</option>
                                                                <option value="23">2026</option>
                                                                <option value="23">2027</option>
                                                                <option value="23">2028</option>
                                                                <option value="23">2029</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-group">
                                                    <label for="cardCVC">CV Code</label>
                                                    <input id="cardCVC" type="tel" class="form-control" name="cvc"
                                                           placeholder="CVC" th:name="cvc" th:value="${userPayment.cvc}" />
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Information -->
                <div class="tab-pane fade" id="tab-4"
                     th:classappend="${classActiveShipping}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">

                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active"><a
                                            th:href="@{/listOfShippingAddresses}"
                                            th:style="${listOfShippingAddresses}? 'color:red'">Liste des adresses de livraison</a></li>
                                    <li class="breadcrumb-item active"><a
                                            th:href="@{/addNewShippingAddress}"
                                            th:style="${addNewShippingAddress}? 'color:red'">Ajouter(Modifier) Addresse de livraison</a></li>
                                </ol>

                                <div th:if="${listOfShippingAddresses}">
                                    <form th:action="@{/setDefaultShippingAddress}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Par défaut</th>
                                                <th>Addresse de livraison</th>
                                                <th>Opérations</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="userShipping : ${userShippingList}">
                                                <td><input type="radio" name="defaultShippingAddressId" th:value="${userShipping.id}"
                                                           th:checked="${userShipping.userShippingDefault}" /><span>Défaut</span></td>
                                                <td th:text="${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
                                                <td><a
                                                        th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
                                                        class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
                                                        th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
                                                        class="fa fa-times"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                                    </form>
                                </div>

                                <div th:if="${addNewShippingAddress}">
                                    <form th:action="@{/addNewShippingAddress}" method="post">
                                        <div class="bg-info" th:if="${updateUserShippingInfo}">Informations utilisateurs mise à jour.</div>

                                        <input hidden="hidden" name="id" th:value="${userShipping.id}" />

                                        <!-- Shipping Address -->
                                        <hr />
                                        <div class="form-group">
                                            <h4>Addresse de livraison</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingName">* Nom</label>
                                            <input type="text" class="form-control" id="shippingName"
                                                   placeholder="Nom du destinataire" th:name="userShippingName" required="required" th:value="${userShipping.userShippingName}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingAddress">* Addresse de la rue</label>
                                            <input type="text" class="form-control" id="shippingAddress"
                                                placeholder="Adresse rue 1" th:name="userShippingStreet1" required="required"
                                                th:value="${userShipping.userShippingStreet1}" />
                                            <input type="text" class="form-control" placeholder="Adresse rue 2" th:name="userShppingStreet2"
                                                th:value="${userShipping.userShippingStreet2}" />
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingCity">* Ville</label>
                                                    <input type="text" class="form-control" id="shippingCity"
                                                           placeholder="Ville de livraison" th:name="userShippingCity" required="required"
                                                           th:value="${userShipping.userShippingCity}" />
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingState">* Pays</label>
                                                    <select id="shippingState" class="form-control" th:name="userShippingState"
                                                        th:value="${userShipping.userShippingState}" required="required">
                                                    <option value="" disabled="disabled">Selectionnez une option</option>
                                                    <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${userShipping.userShippingState}==${state})"></option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingZipcode">* Code Postal</label> <input
                                                        type="text" class="form-control" id="shippingZipcode"
                                                        placeholder="Code postal"
                                                        th:name="userShippingZipcode" required="required"
                                                        th:value="${userShipping.userShippingZipcode}" />
                                                </div>
                                            </div>
                                        </div>

                                        <hr />
                                        <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end of container -->

<script src="/css/common/jqsec.js" th:src="@{/css/common/jqsec.js}"></script>
<script src="/css/common/boot.min.js" th:src="@{/css/common/boot.min.js}"></script>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
